<section class="container">
    <h1>My bookings</h1>
    <div class="row">
        <% if @bookings && @bookings.any? %>
            <% @bookings.each do |booking| %>
                <div class="col-12 col-md-6 col-lg-3 my-2">
                    <h5>Booking date</h5>
                    <p><%= booking.start_date %> - <%= booking.end_date %></p>
                    <%= link_to bike_path(booking.bike), class: "link" do %>
                        <div class="card-product">
                            <%= cl_image_tag booking.bike.image.key, height: 200, crop: :fill %>
                            <div class="card-product-infos">
                                <div>
                                <h2><%= booking.bike.title[0..23] %></h2>
                                <p><%= booking.bike.bike_type %></p>
                                </div>
                                <h2 class="card-product-pricing"><%= booking.total_price %>€</h2>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% else %>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <p>No bookings yet</p>
            </div>
        <% end %>
    </div>
</section>
<section class="container">
    <h1>Bookings of my bikes</h1>
    <div class="row">
        <% if @bookings_others && @bookings_others.any? %>
        <% @bookings_others.each do |booking| %>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <h5>Booking date</h5>
                <p><%= booking.start_date %> - <%= booking.end_date %></p>
                <%= link_to bike_path(booking.bike), class: "link" do %>
                    <div class="card-product">
                        <%= cl_image_tag booking.bike.image.key, height: 200, crop: :fill %>
                        <div class="card-product-infos">
                            <div>
                                <h2>
                                    <%= booking.bike.title[0..23] %>
                                </h2>
                                <p>
                                    <%= booking.bike.bike_type %>
                                </p>
                            </div>
                            <h2 class="card-product-pricing"><%= booking.total_price %>€</h2>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
        <% else %>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <p>No bookings for your bikes yet.</p>
            </div>
        <% end %>
    </div>
</section>