<div class="card-product link scale">

  <%= cl_image_tag card_infos.image.key, height: 200, crop: :fill %>

  <div class="card-product-infos">
    <div>
      <h2><%= card_infos.title[0..23] %></h2>
      <p><%= card_infos.bike_type %></p>
    </div>
    <h2 class="card-product-pricing"><%= card_infos.daily_price %>€</h2>

    <% if request.path != "/my_bikes" %>
      <%= cl_image_tag card_infos.user.avatar.key, class: "card-product-user avatar-bordered" %>
    <% end %>

  </div>
</div>
