<section class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <article>
                <h2 class="font-weight-bold"><%= @bike.title %></h2>
                <div>
                    <% if @bike.enable %>
                    <p><span class="p-1 mb-2 bg-success text-white"><i class="fas fa-check-circle"></i> <%= "Disponible" %></span></p>
                    <% end %>
                </div>
                <p class="font-weight-bold">Type: <%= @bike.bike_type %></p>
                <div>
                    <%= cl_image_tag(@bike.image.key, width: 700, crop: :fill)%>
                </div>
                <p class="mt-4"><strong>Description:</strong> <%= @bike.description %></p>
                <h4><i class="fas fa-home"></i> Address</h4>
                <p><%= @bike.address_line_1 %><br><%= @bike.zipcode %> <%= @bike.city %><br><%= @bike.country.upcase %></p>

            </article>
        </div>
        <div class="col-12 col-lg-4">
            <div class="p-3 mb-2 bg-light shadow">

                <h2 class="font-weight-bold">Booking</h2>
                <p><span class="font-weight-bold"><%= @bike.daily_price %>€</span>/jour</p>
                <div>
                    <%= simple_form_for [ @bike, @booking ] do |f| %>
                    <%= f.input :start_date, label: 'Your date starting'%>
                    <%= f.input :end_date, label: 'Your date ending' %>
                    <%= f.button :submit, "Confirm", class:"btn btn-primary btn-block" %>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
    <hr>
</section>
<section class="container">
    <h4><i class="fas fa-user"></i> Proposed by <span class="text-warning"><%= @user.first_name %> <%= @user.last_name %></span></h4>
    <p class="text-black-50">Member since 2020</p>
    <ul>
        <li>Response rate: 100%</li>
        <li>Response time: few hours</li>
    </ul>
    <a class = "btn btn-secondary disabled" href="#">Contact the owner of the bike</a> <!-- si pas connecté, me renvoyer sur la page d'authentification -->
    <hr>
    <%= link_to("<-Back to list", bikes_path)%>
    </section>
